<section class="flex flex-row gap-4 justify-between">
  <fieldset
    class="w-1/2 border border-neutral-300 p-4 min-h-[200px] bg-neutral-50 shadow rounded-lg"
  >
    <div class="flex flex-col justify-evenly h-full">
      <p>Saisir une tâche</p>
      <label for="task">Tâche</label>
      <input
        type="text"
        placeholder="Tâche..."
        class="border border-neutral-300 p-2"
      />
      <div class="mt-4">
        <button
          class="bg-blue-700 hover:bg-blue-800 duration-200 text-white px-4 py-1 rounded-lg"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </fieldset>
</section>
